<h1>Olá, nós somos a EssayTypo</h1>
<p>somos uma simples empresa de educação que visa, além de tudo, contribuir para uma educacação mais formal e simples. </p>
<br>
<h1>Vantagens</h1>
<br>
<div class="carrosel-card">
	<div class="card">
	<div class="title-span-div">
		<span class="number-card">1°</span>
		<h1 class="title-card"> OpenSource</h1>
	</div>
	<p class="text-card">Como ainda muito pequeno, nosso projeto busca ser desenvolvido todo numa base livre. Mantndo o acesso a educação livre pra todos. Assim o código está disponivel no github: <a href="https://github.com/Ocamilinho/ruby_on_rails_helper">EssayTypo</a></p>
</div>

<div class="card">
	<div class="title-span-div">
		<span class="number-card">2°</span>
		<h1 class="title-card"> Por quê?</h1>
	</div>
	<p class="text-card">O EssayTypo é um leve e buca contribuir pra a educação no geral. Nós combinamos diversos modelos de redação para que você tenha acesso a ajuda adequada sempre que precisar</p>
</div>

<div class="card">
	<div class="title-span-div">
		<span class="number-card">3°</span>
		<h1 class="title-card"> Uso Fácil</h1>
	</div>
	<p class="text-card">o uso da plataforma é completamente dinamico, basta adcionar suas redação par qeu fique visíveis pra outras pessoas</p>
</div>

</div>