<h1>Olá, nós somos a RubyHelper</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque inventore enim repellendus maiores ipsa laboriosam, nulla voluptatum minus excepturi sequi at quas reprehenderit deleniti hic consequuntur dolorum ipsum a expedita.</p>
<br>
<h1>Vantagens</h1>
<br>
<div class="carrosel-card">
	<div class="card">
	<div class="title-span-div">
		<span class="number-card">1°</span>
		<h1 class="title-card"> Monstruosidade</h1>
	</div>
	<p class="text-card">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Quasi, cum, illo ipsum cupiditate quo</p>
</div>

<div class="card">
	<div class="title-span-div">
		<span class="number-card">2°</span>
		<h1 class="title-card"> Monstruosidade2</h1>
	</div>
	<p class="text-card">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Quasi, cum, illo ipsum cupiditate quo</p>
</div>

<div class="card">
	<div class="title-span-div">
		<span class="number-card">3°</span>
		<h1 class="title-card"> Monstruosidade3</h1>
	</div>
	<p class="text-card">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Quasi, cum, illo ipsum cupiditate quo</p>
</div>

</div>