<h1>Sobre</h1>
<div class="faq-div">
	<p> Tudo o que fazemos tem 100% de código aberto e é desenvolvido de forma colaborativa por pessoas de todas as partes do mundo. Mesmo se não for um programador, você pode participar e fazer diferença.</p>
	<p>Com a ajuda de nossos usuários e fãs, conseguimos passar de um pequeno grupo de voluntários apaixonados para uma pequena, mas  sustentável empresa. Todo pequeno suporte nos ajuda a melhorar o elementary OS e a enfrentar problemas ainda mais ambiciosos.</p>
	<a href="https://paypal.com"><button class="botao-faq">Paypal</button></a>
</div>
