<div class="title-show">
	<div>
		<h1><%= @question.title %></h1>
		<hr>
	</div>
	<div>
		<h2><%= @question.description %></h2>
	</div>
</div>
<div>
	<div class="problem-show">
		<%= @question.problem%>
	</div>
</div>