/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;1,500&family=Poppins:wght@200;300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600&display=swap');

:root{
--branco:#F4F4F4;
--preto:#050505;
--vermelho: #D00000;
--amarelo: #FABA08;
--azulescuro: #032B43;
--azul: #3F88C5;
--bgcfundo: #1d1d1d;
--fundocard: #333333;

--vermelhonav: #C50311;
--amarelonav: #DE9627;
--azulnav:#006B9B;
--azulnav2: #002B42;

--verdesub: #008722;
--marromsub: #964F13;
--amarelosub: #8E821B;
--vermelhosub: #326d9e;
--azulsub: #005F85;

}

body::-webkit-scrollbar {
	width: 10px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
	background: var(--preto);        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
	background-color: var(--vermelhosub);        
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Poppins";
	color: var(--branco);
}

body{
	background-color: var(--bgcfundo);
}

.container{
	margin: 50px 20px 10px 50px;
}

.cabecalho{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: var(--fundocard);
	margin-bottom: 20px;

	-webkit-box-shadow: 0px 13px 0px 0px rgba(217,217,217,0.49);
	-moz-box-shadow: 0px 13px 0px 0px rgba(217,217,217,0.49);
	box-shadow: 0px 13px 0px 0px rgba(217,217,217,0.49);
}

.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin-top:20px;
	width: 100%;
	height: 80px;
	background-color: var(--fundocard);
}

.lista-nav{
	list-style-type: none;
	display: flex;
	align-items: center;
	gap:10px;
}

.item-nav{
	padding: 10px;
	transition: .2s;
	height: 100%;
	border-radius: 10px;
}

.item-nav:hover{
	background-color: var(--vermelhosub);
	color: var(--branco);
}

.item-nav-logout{
	padding: 10px;
	transition: .2s;
	height: 35px;
	border-radius: 10px;
	border: none;
	background-color: var(--vermelhosub);
	color: var(--branco);

	display: flex;
	align-items: center;
	justify-content: center;
}


.logo-div{
	display: flex;
	align-items: center;
	gap:10px;
}

.img-logo-nav{
	width: 40px;
}

.menu-nav{
	width: 40px;
}

.logo-nav{
	font-family: "Space Grotesk";
	font-size: 20px;
}

.signup-form{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap:10px;
}

.row-question{
	display: flex;
	gap:20px;
}

.form-field{
	min-width: 300px;
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: var(--fundocard);
}


.form-button{
	width: 300px;
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: var(--vermelhosub);
}

.text-area-question{
	width: 622px;
	height: 30vh;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: var(--fundocard);
}

.carrosel-card{
	display: flex;
	flex-flow: row wrap;
	gap:20px;
	justify-content:center;
}

.card{
	display: flex;
	flex-direction: column;
	background-color: var(--fundocard);
	min-width: 300px;
	max-width: 350px;
	height: 400px;
	padding: 20px;
	border-radius: 5px;
	transition: .6s;
}

.card:hover{
	transform: translateY(-5px);
}

.title-span-div{
	display: flex;
	align-items: center;
	gap:10px;
}

.number-card{
	height: 45px;
	width: 45px;
	background-color: var(--vermelhosub);
	color: var(--branco);

	display: flex;
	align-items: center;
	justify-content: center;

	font-family: "Space Grotesk";
	font-size: 20px;

	border-radius: 5px;
}

.title-card{
	font-family: "Space Grotesk";
	font-size: 30px;
}

.text-card{
	font-family: "Work Sans";
	font-size: 18px;
}

.form{
	display: flex;
	gap:40px;
}

.hints_form{
	background-color: var(--fundocard);
	padding: 20px;
	border-radius: 5px;
}

.show-title{
	display: flex;
	align-items: center;
	gap:20px;
}

.button-new-show{
	height: 40px;
	width: 40px;
	border-radius: 10px;
	font-family: "Space Grotesk";
	font-size: 40px;
	background-color: var(--fundocard);
	color: var(--vermelhosub);

	display: flex;
	align-items: center;
	justify-content: center;
}

.questao-show{
	display: flex;
	align-items: center;
	justify-content:space-between;
	padding: 20px 10px 20px 20px;
	margin-top: 10px;
	background-color: var(--fundocard);
	border-radius: 10px;
}

.button-show{
	background-color: var(--vermelhosub);
	padding: 30px;
	border-radius: 10px;
}
hr{
	background-color: var(--vermelhosub);
    width: 200px;
    height: 8px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px var(--preto);
}

.title-show{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.problem-show{
	display: flex;
	align-self: center;
	padding: 30px;
	margin: 10px;
	background-color: var(--fundocard);
	border-radius: 10px;

	height: 40vh;
}

.hidden-pc{
	display: none;
}

.faq-div{
	display: flex;
	flex-direction: column;
	gap:10px;
}

.botao-faq{
	width: 300px;
	height: 60px;
	background-color: var(--vermelhosub);
	border: none;

	box-shadow: 4px 4px 0px var(--branco);
}


@media screen and (max-width: 700px){
	.hidden-phone{
		display: none;
	}

	.hidden-pc{
		display: auto;
	}


	.container{
		margin: 30px;
	}

	.row-question{
		flex-direction: column;
	}

	.text-area-question{
		width:300px;
	}


	.hints_form{
		width: 300px;
	}

	.form{
		flex-direction: column;
	}

}